{% extends request.user.is_admin|yesno:'base.html,doctors/doctor_base.html' %}

{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Teiders</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-user-md"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">View Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
        <div class="card p-2">
            <div class="profile-photo text-center mt-2">
                <img src="{{ teider.image.url }}" class="img-fluid" alt="Responsive image">
            </div>
            <h5 class="text-center">{{ teider.fullname }}</h5>
        </div>

        <div class="px-3 pt-2 mt-3 card">
            <div class="form-group row">
                <label class="col-xl-3 col-form-label">Wallet Balance</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control"  value="{{ teider.teider2.wallet_balance }}" readonly>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header borderless ">
                <h5>Recent Transactions</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Staus</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for trans in transactions %}
                            <tr>
                                <td>{{trans.date}}</td>
                                <td>{{trans.t_type}}</td>
                                <td>{{trans.amount}}</td>
                                <td><span class="badge badge-success">{{trans.status}}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
        <div class="card p-3">
            <h5 class="mt-1">View Profile</h5>
            <hr>
            <form>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Full name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control"  value="{{ teider.fullname}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" value="{{ teider.email}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Phone number</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control"  value="{{ teider.phone_no}}" readonly>
                    </div>
                </div>

            </form>
        </div>
        <div class="card">
            <div class="card-header borderless ">
                <h5>Histories & Follow-ups</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="teiders">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Staus</th>
                                <th>Appointment Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for h in histories %}
                            <tr>
                                <td>{{h.date}}</td>
                                <td>{{h.t_type}}</td>
                                <td><span class="badge badge-primary">{{h.status}}</span></td>
                                <td>{{h.appointment_time}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

