{% extends request.user.is_admin|yesno:'base.html,doctors/doctor_base.html' %}

{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Doctor</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-user-md"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Update Doctor</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-30">
        <div class="card p-3">
            <h5 class="mt-1">Delete Doctor</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <h2>Are you sure you want to delete this user?</h2>
                <div class="form-group row mt-2">
                    <div class="col-sm-12 mt-3">
                        <button type="submit" class="btn  btn-danger">Yes Delete</button>
                        <a href="{% url 'doctor-detail' doctor.id %}" class="btn btn-info float-right">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

