{% extends request.user.is_admin|yesno:'base.html,doctors/doctor_base.html' %}

{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Admin</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-user-lock"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Add Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-30">
        <div class="card p-3">
            <h5 class="mt-1">Add Admin</h5>
            <hr>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'admins/includes/fineform.html' with form=form %}
                <div class="form-group row mt-2">
                    <div class="col-sm-12 mt-3">
                        <button type="submit" class="btn  btn-primary">Add Admin</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}